/* 	
    
	Semantic Words - Simple
	========================================================================================================================

    media: all 
	browser: all 
 
	LEGEND: 
	------------------------------------------------------------------------------------------------------------------------

	1 GENERAL
		1.1 global reset
		1.2 default
		1.3 headings and paragraphs 
		1.4 links
		1.5 lists
		1.6 tables
		1.7 forms
		1.8 others 
 
	2 COMMON ELEMENTS 
		2.1 clearfix
		2.2 image replacement
		2.3 hidden 
		
	3 LAYOUT
		3.1 accessibility-nav

	4 LAYOUTS ELEMENTS 


	colorscheme

	cs1 = #111
	cs2 = #333
	cs3 = #777
	cs4 = #DDD
 
*/ 
 

/*  -1- GENERAL 
 *  ========================================================================================================================*/
 

	/* -1.1- global reset 
	 * ---------------------------------------------------------------------------------------------------------------------*/
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; } 
 

	/* -1.2- default 
	 * ---------------------------------------------------------------------------------------------------------------------*/
 
	html{	 
		font-size: medium;
		text-align: center;
		}
		
	body{ 
		margin: 0 auto;
		width: 67em;
		color: #333; 
		font: normal normal normal 75%/175% Verdana,Arial,sans; 
		text-align: left;
		} 
	 
	/* -1.3- headings and paragraphs 
	 * ---------------------------------------------------------------------------------------------------------------------*/
	h1, h2, h3, h4, h5, h6 {
		margin: .5em 0;
		color: #111;
		font-weight: normal;
		font-family: Georgia,"Times New Roman",serif; 
		}

		h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
		h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
		h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
			{
			color: #111;
			text-decoration: none;
			}

		h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
			{
			text-decoration: underline;
			}
	
	h1{ 
		margin: 0 0 .5em;
		font-size: 2em;
		line-height: 1.2em;
		}
		
	h2{ 
		font-size: 1.5em;
		line-height: 1.2em;
		}
		
	h3{ 
		font-size: 1.16em;
		line-height: 1.2em;
		}
		
	h4{ 
		font-size: 1em;
		line-height: 1.2em;
		font-weight: bold;
		}
		
	h5 {
		font-size: .833em;
		line-height: 1.2em;
		text-transform: uppercase;
		}

	h6 {
		}
		
	p{		 
		margin: 0 0 1em;
		} 

 
	/* -1.4- links 
	 * ---------------------------------------------------------------------------------------------------------------------*/
	
	a:link, a:active, a:visited, a:hover {
		color: #111; 
		text-decoration: underline;
		}

	a:visited {
		color: #555;
		}
		
	a:hover { 
		text-decoration: none;
		} 

	/* -1.5- lists 
	 * ---------------------------------------------------------------------------------------------------------------------*/
	ul, ol {
		margin: 1em;
		}

	ul li {
		list-style: inside disc none;
		}

	ol li {
		list-style: inside decimal none;
		}

	/* -1.6- tables 
	 * ---------------------------------------------------------------------------------------------------------------------*/


	/* -1.7- forms 
	 * ---------------------------------------------------------------------------------------------------------------------*/
	
	input, textarea, select { 
		color: #111; 
		font: normal normal 1em/1.2em Verdana,Arial, Helvetica,sans; 
		} 
	 
	/* -1.8- others 
	 * ---------------------------------------------------------------------------------------------------------------------*/

	hr{ 
		display: none;
		} 
 
	 
/*  -2- COMMON ELEMENTS 
 *  ========================================================================================================================*/

	/* -2.1- clearfix 
	 * Clear fix workaround. 
	 * coresponding hasLayout fix on IE stylesheet is required
	 * ---------------------------------------------------------------------------------------------------------------------*/

	.clearfix:after ,
	#header:after,
	#container:after,
	ol.posts .details:after
		{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden; 
		}

	/* -2.2- image replacement 
	 * ---------------------------------------------------------------------------------------------------------------------*/

	/* Gilder method  */
	.ir {
		display: block;
		overflow: hidden;
		position: relative;
		}
		
		.ir span {
			display: block;
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background: transparent no-repeat left top;
			}

	/* phark method */
	.ir_p {
		display: block;
		overflow: hidden;
		background: transparent no-repeat left top;
		text-align: left;
		text-indent: -1000em;
		}

	/* -2.3- hidden 
	 * ---------------------------------------------------------------------------------------------------------------------*/

	.hidden,
	#skip-links,

	ol.posts .details h3
		{
		position: absolute;
		left: -1000em;
		text-align: left;
		}

 
/*  -3- LAYOUT  
 *	========================================================================================================================*/
 
	/* -3.1- skip-links
	 * ---------------------------------------------------------------------------------------------------------------------*/

	#skip-links {
		/* hidden */

		}

	/* -3.2- header
	 * ---------------------------------------------------------------------------------------------------------------------*/
	#header {
		margin: 0 0 1px;
		border-bottom: 1px solid #DDD;
		padding: 2em 0;
		}

		/* logo */
		#header h1 , #header a.logo {
			float: left;
			margin: 0 .16em 0 0;
			font-size: 3em;
			font-family: Georgia,"Times New Roman",serif;
			line-height: 1em;
			letter-spacing: -.01em;
			}

		#header h1 a, #header a.logo {
			color: #000;
			text-decoration: none;
			}

		/* motto */
		#header p {
			margin: 1.3em 0 0;
			color: #777;
			font: italic normal normal 1.167em/1.2em Georgia,"Times New Roman",serif;
			letter-spacing: 0.01em;
			}

	/* -3.3- container
	 * ---------------------------------------------------------------------------------------------------------------------*/
	#container {
		border-top: 1px solid #DDD;
		/* clearfix */
		padding: 2em 0;
		}

		#content {
			border-right: 1px solid #DDD;
			margin-right: -100px;
			padding-right: 2em;
			float: left;
			width: 43em;
			}

		#aside {
			margin-right: -1px;
			border-left: 1px solid #DDD;
			padding-left: 2em;
			float: right;
			width: 20em;
			}

	/* -3.4- footer
	 * ---------------------------------------------------------------------------------------------------------------------*/
	#footer {
		border-top: 1px solid #DDD;
		padding: 1em 0;
		color: #777;
		font-size: .916em;
		}

		#footer p {
			margin: 0 0 1em;
			}

		#footer .subscribe h3 {
			display: inline;
			}

		#footer .subscribe ul {
			display: inline;
			margin: 0;
			}

		#footer .subscribe li {
			display: inline;
			list-style: outside none none;
			}


/*  -4- LAYOUT ELEMENTS  
 *  ========================================================================================================================*/

	/* posts */	
	ol.posts {
		margin: 0;
		}

		ol.posts li {
			margin: 0 0 2em;
			list-style: outside none none;
			}

		ol.posts h2 {
			margin: 0;
			}

		ol.posts p.date {
			color: #777;
			font-size: .916em;
			}

		/* meta */
		ol.posts .details {
			/* clearfix */
			margin: 1em 0 0;
			color: #777;
			font-size: .916em;
			}

			ol.posts .details h3 {
				/* hidden */
				}

			ol.posts .details ul {
				margin: 0;
				}

			ol.posts .details li {
				margin: 0 1em 0 0;
				padding: 0;
				float: left;
				}

			ol.posts .details h4 {
				margin: 0;
				display: inline;
				color: #777;
				font: normal normal normal 1em/1.2em Verdana,Arial,sans;
				}

	/* aside elements */
	#aside {
		color: #777;
		}

	#aside h3 {
		font-size: .916em;
		line-height: 1.2em;
		letter-spacing: 1px;
		text-transform: uppercase;
		}

	#aside p {
		margin: 0.5em 0;
		}

	#aside ul, #aside ol {
		margin: .5em 0;
		}

	#aside li {
		margin: 0;
		list-style: outside none none;
		}

		
	/* aside blocks */
	#aside .pages {
		margin: 0 0 2em;
		}

	#aside .about {
		margin: 0 0 2em;
		}

	#aside .search {
		margin: 0 0 2em -2em;
		border: 1px solid #DDD;
		border-left: 0;
		padding: 1em 1em 1em 2em;
		background: #EEE;
		}

		#aside .search legend {
			display: none;
			}

	#aside .archives {
		margin: 0 0 1em;
		}

	#aside .categories {
		margin: 0 0 1em;
		}

	#aside .links {
		margin: 0 0 1em;
		}

